body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.welcome-image {
  border-radius: 10px;
  max-height: 500px;
}
.navbar-brand {
  width: 150px;
    }
    .img-thumbnail {
        border: 0 none;
        box-shadow: none;
        width:80px;
        min-height:40px; 
        height:60px
    }
.navbar-brand img {
     height: 45px;
    float: left;
    margin-right: 7px;
}
.card-image{
    min-width:10rem;
    max-width: 40rem;
    height: auto;
}
.nav.nav-tabs{
    border: 0 none;
}
/* Create two columns/boxes that floats next to each other */
trend {
  float: left;
  width: 25%; 
  padding: 20px;
  height: 100%;
  
}
clucks {
  float: left;
  padding: 20px;
  width: 70%;
   
}
@media (max-width: 600px) {
    trend{
        display: none;
    }
    clucks {
    width: 100%;
    height: auto;    
   }
} 