<%- include('./partials/header') %>
    <h1>Please sign in Cluck</h1> 

    <div class="container col-sm-12 border border-secondary card ">
        <form action="" method="post">
        <div class="form-group m-4 p-4 ">
        <label for="name">Username</label>
        <input type="text" class="form-control" name="username" id="username" placeholder="Flying Funks" required>
        <button type="submit" class="btn b m-4 btn-outline-secondary float-right">Submit</button>    
      <br/>
      </div>
  </form>
  </div>
<%- include('./partials/footer') %>
