<%- include('../partials/header') %>
<%if(username){%>
<h1>Add a new Cluck item</h1>
<form action="/clucks" method="post">
    <div class="border border-secondary rounded m-4 p-4">
        <div class="form-group">
            <label for="content">Content</label>
            <textarea autofocus class="form-control" id="content" name="content" rows="3" placeholder="Watchoo cluckin' 'bout?" required></textarea>
          </div>
        <div class="form-group mt-4">
            <label for="image_url">Image Url</label>
            <input type="url" class="form-control" name="image_url" id="image_url" placeholder="e.g.https://www.example.com/some.png">
        </div>
      <button type="submit" class="btn btn-secondary float-right mt-4">Cluck!</button>
    <br/>
    </div>
</form>
<p>
  <a href="/clucks/" class="btn btn-primary text-primary bg-light col-12 mt-4">
      Goto List
  </a>
<%}else{%>
    <h4 class="text-center">Please sign in to create clucks</h4>
    <a href="/user/sign_in" class="btn btn-primary text-primary bg-light col-12 mt-4">
      user sign in
  </a>
<%}%>
<%- include('../partials/footer') %>